@use '../../shared/styles/utils/variables' as var;

.header {
  &__cart {
    height: 46px;
    border: 1px solid var.$theme-secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    transition: border 0.25s;
  }

  &__cart:hover {
    border: 1px solid var.$white;
  }

  &__cart-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    row-gap: 5px;
  }

  &__cart-counter {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: var.$header-color;
  }

  &__cart-total {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 13px;
    color: var.$white;
  }

  &__cart-total-text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: var.$header-color;
  }

  &__cart-wrapper {
    display: flex;
    column-gap: 5px;
    margin-left: 129px;
  }

  &__counter-container {
    display: flex;
    column-gap: 5px;
  }

  &__line {
    width: 2px;
    height: 34px;
    background: var.$theme-secondary-color;
    margin-left: 10px;
    margin-right: 10px;
  }
}
