@use '../../shared/styles/utils/variables' as var;

.content-grid {
  width: 100%;
  display: flex;
  gap: 24px;
}

.content-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-products {
  max-width: calc(292px * 3 + 60px);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
