@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.storybook {
  width: 1500px;
  height: 400px;
}

.bannerCard {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}

.content {
  position: absolute;
  top: 30%;
  left: 12%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media.respond-to('large') {
    top: 20%;
  }

  @include media.respond-to('middle') {
    left: 5%;
    gap: 15px;
  }

  @include media.respond-to('small') {
    top: 25%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  line-height: 37px;
  font-size: 30px;
  font-weight: 500;

  @include media.respond-to('middle') {
    line-height: 18px;
    font-size: 15px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  color: var.$body-color;
  fill: var.$body-color;
  border: 1px solid rgb(52 52 52 / 10%);
  border-radius: 5px;
  padding: 5px 15px;
  transition: 0.25s;

  @include media.respond-to('middle') {
    font-size: 13px;
  }

  &:hover {
    color: var.$white;
    fill: var.$white;
    background: var.$body-color;
  }

  &:active {
    transform: scale(0.9);
  }
}

.icon {
  transform: rotate(270deg);
}

.image {
  object-fit: cover;
}
