@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.rollup {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var.$white;
  border: 2px solid var.$bg-subscribe;
  border-bottom: none;
  border-radius: 6px;

  &__header {
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var.$bg-subscribe;
    border-radius: 6px;
  }

  &__rollupchild {
    padding: 30px;
    border-bottom: 2px solid var.$bg-subscribe;
    border-radius: 6px;
    transition: all 0.5s;

    &_rolledup {
      border-bottom: none;
      padding: 0;
    }
  }
}
