$white: #fff;
$black: #000;
$theme-primary-color: #7266f3;
$theme-secondary-color: #7f73fa;
$body-bg: #f7f7fb;
$footer-bg: #18171b;
$body-color: #343434;
$bg-subscribe: #edf2f5;
$bg-no-image: #e9e8f1;
$link-border: #e3eeff;
$link-color: #4791ff;
$promo-color: #f45656;
$footer-form-bg: #2b2931;
$footer-form-color: #63606c;
$subtitle-color: #bdc2d3;
$header-color: #aaa3f8;
$body-color-light-grey: #bdc2d3;
$border-color: #e6ebfb;
$bg-gradient-green: linear-gradient(90deg, #02aab0 0%, #00cdac 100%);
$theme-purple-500: #1306a1; // исправить цвет
$theme-purple-400: #1306a1; // Исправить цвет
$product-label-hit: #800080;
$product-avaliability-status: #13d154;
