$white: #fff;
$black: #000;
$theme-primary-color: #7266f3;
$theme-secondary-color: #7f73fa;
$body-bg: #f7f7fb;
$footer-bg: #18171b;
$body-color: #343434;
$bg-no-image: #e9e8f1;
$bg-subscribe: #edf2f5;
