$white: #FFF;
$black: #000;
$theme-primary-color: #7266F3;
$theme-secondary-color: #7F73FA;
$body-bg: #F7F7FB;
$footer-bg: #18171B;
$body-color: #343434;
$bg-no-image: #E9E8F1;
$link-color: #4791FF;
$promo-color: #F45656;
$body-color-light-grey: #bdc2d3;
