$white: #fff;
$black: #000;
$theme-primary-color: #7266f3;
$theme-secondary-color: #7f73fa;
$body-bg: #f7f7fb;
$footer-bg: #18171b;
$body-color: #343434;
$bg-subscribe: #edf2f5;
$bg-no-image: #E9E8F1;
$link-border: #E3EEFF;
$link-color: #4791FF;
$promo-color: #F45656;
$body-color-light-grey: #bdc2d3;
$footer-form-bg: #2B2931;
$footer-form-color: #63606C;
$header-color: #aaa3f8;