@use '../../styles/utils/variables' as var;
@use '../../styles/utils/z-index' as z_index;

.contextMenu {
  position: absolute;
  display: flex;
  visibility: hidden;
  opacity: 0;
  background-color: var.$white;
  box-shadow: 0 0 20px rgb(170 189 206 / 25%);
  border-radius: 5px;
  z-index: z_index.$two;
  transition:
    visibility 0.5s,
    opacity 0.5s;
  pointer-events: none;

  &:hover {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.contextBody {
  position: relative;

  &:hover .contextMenu {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
