@use '../../styles/utils/variables' as var;

.product-item__labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-item__labels_type_list,
.product-item__labels_type_compact {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-item__label-hit {
  background-color: var.$product-label-hit;
  color: var.$white;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.product-item__label-popular {
  background-color: var.$product-label-popular;
  color: var.$white;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 5px;
}
