@use '../../../../shared/styles/utils/mixins' as media;
@use '../../../../shared/styles/utils/variables' as var;

.card {
    display: flex;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

}

.link {
    padding: 13px 20px;
    background-color: var.$white;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$body-color;
    transition: color 0.25s;
    column-gap: 16px;

    @include media.respond-to('middle') {
        justify-content: left;
    }

}

.text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.95px;
}

.image {
    height: 45px;
    width: 45px;
}