@use '@/shared/styles/utils/variables' as var;

.headerAccount {
  grid-area: account;
  display: flex;
  align-items: center;
  gap: 5px;

  &__mobile {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    border: 1px solid var.$theme-secondary-color;
    border-radius: 5px;
    padding: 10px;
    transition: border 0.25s;

    &:hover {
      border: 1px solid var.$link-border;
    }
  }

  &__favoriteSpan {
    position: absolute;
    top: 3px;
    right: 2px;
    line-height: 12px;
    font-size: 12px;
    font-weight: 600;
    color: var.$header-color;
  }

  &__cartMobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  &__icon {
    fill: var.$white;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      fill: var.$header-color;
    }

    &:active {
      transform: scale(0.9);
    }

    &_active {
      fill: var.$footer-form-color;
    }
  }

  &__cartContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    row-gap: 5px;
  }

  &__cartCounter {
    line-height: 14px;
    font-size: 14px;
    font-weight: 600;
    color: var.$header-color;
  }

  &__cartCounterMobile {
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var.$promo-color;
    font-size: 13px;
    font-weight: 700;
    color: var.$white;
  }

  &__cartTotal {
    line-height: 13px;
    font-size: 13px;
    font-weight: 600;
    color: var.$white;

    &_dark {
      color: var.$body-color;
    }
  }

  &__cartTotalText {
    line-height: 13px;
    font-size: 13px;
    font-weight: 600;
    color: var.$header-color;
  }

  &__counterContainer {
    display: flex;
    column-gap: 5px;
  }

  &__line {
    width: 2px;
    height: 34px;
    background: var.$theme-secondary-color;
    margin-left: 10px;
    margin-right: 10px;
  }
}
