@use '@/app/styles/index' as var;

.tags {
  display: flex;
  max-width: 340px;
  padding: 0 30px 25px;
  align-items: flex-start;
  border-radius: 10px;
  background: #fff;

  &__title {
    color: #343434;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
  }

  &__items {
    margin-top: 25px;
    display: flex;
    max-width: 280px;
    flex-wrap: wrap;
  }

  &__item {
    color: #343434;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
    background-color: #f7f7fb;
    display: flex;
    height: 35px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
