@use '../../assets/styles/utils/mixins' as media;
@use '../../assets/styles/utils/variables' as color;

.arrow__button {
  width: 100%;
  height: 100%;
  transition: background 0.25s;

  @include media.respond-to('middle') {
    display: none;
  }
}

button:hover {
  background: rgba(255 255 255 / 5%);
}

.slider__swg {
  width: 9px;
  height: 16px;
  color: color.$white;
}
