@use '../../../assets/styles/utils/variables' as color;

.button {
  color: color.$black;
  padding: 10px 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
  }

  &.round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
  }
}

.outline {
  border: 1px solid color.$border-color;
  color: color.$black;
}

.primary {
  background: color.$theme-primary-color;
  color: color.$white;
}

.secondary {
  background: color.$body-color-light-grey;
}

.success {
  background: color.$product-avaliability-status;
  color: color.$white;
}

.big {
  font-size: 32px;
  line-height: 40px;
}

.medium {
  font-size: 24px;
  line-height: 32px;
}

.small {
  font-size: 16px;
  line-height: 24px;
}

.xsmall {
  font-size: 12px;
  line-height: 18px;
}
