@use '../../shared/styles/utils/variables' as var;

.product-card__info {
  display: flex;
  gap: 10px;
}

.product-card__availability {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.product-card__status-dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var.$product-avaliability-status;
}

.product-card__code {
  font-size: 11px;
  color: var.$body-color-light-grey;
}
