@use '@/shared/styles/utils/mixins' as media;

.titleBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.blogPage {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: -18px;

  @include media.respond-to('large') {
    flex-direction: column;
    gap: 10px;
  }
}
