.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 160px;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .img {
    height: 240px;
    width: 100%;
    border-radius: 6px;
    scroll-snap-align: start;
    object-fit: cover;
  }
}
