@use '@/shared/styles/utils/mixins' as media;

.reviewsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @include media.respond-to('large') {
    grid-template-columns: repeat(3, 1fr);
  }
}
