.heading {
  align-self: flex-start;
  padding: 30px;
}

.contacts {
  &__map {
    width: 100%;
    width: 500px;
    height: 500px;
    background-color: #333;
  }

  &__frame {
    width: 100%;
    min-height: 425px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1330px;
    width: 100%;
    gap: 50px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__blockAdress {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__adress {
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 20px;
    min-height: 325px;
  }

  &__adressPhone {
        min-height: 325px;
    width: 150px;
  }

  &__text {
    font-weight: 600;
    margin-bottom: 5px;
  }
}
