@use '@/shared/styles/utils/variables' as var;

.contactCard {
  background-color: var.$white;
  border-radius: 5px;
  margin: 0 1.5px 3px;
}

.link {
  height: 160px;
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
}
