@use '@/shared/styles/utils/mixins' as media;

.advantages {
  display: flex;
  width: 100%;

  // user-select: none;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;


  @include media.respond-to('large') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    width: 100%;
    border: 1px solid red;
  }
}
