@use '../../../shared/styles/utils/variables' as var;
@use '../../../shared/styles/utils/mixins' as media;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border: none;
  background-color: inherit;
  position: relative;
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: 10px;
}

.container {
  position: relative;
}
