@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.blogCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  user-select: none;

  @include media.respond-to('middle') {
    width: 260px;
    gap: 7px;
  }

  &_blog {
    width: 100%;
  }
}

.heading {
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 12px;
  transition: 0.5s;
}

.subheading {
  font-size: 17px;
}

.imageContainer {
  position: relative;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.25s;

  &_blog {
    @include media.respond-to('small-middle') {
      height: 418px;
    }
  }
}

.noImage {
  width: 100%;
  max-width: 340px;
  height: 180px;
  object-fit: cover;
  padding: 20px;
}

.blogCard:hover .heading {
  color: var.$link-color;
}

.blogCard:hover .image {
  transform: scale(1.02);
}

.tags {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  cursor: auto;
}
