@use '../../shared/styles/utils/mixins' as media;
@use '../../shared/styles/utils/variables' as color;

.subscribe {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  margin-bottom: 95px;
}

.container {
  position: relative;
  background-color: color.$bg-subscribe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1420px;
  height: 250px;
  padding: 40px 145px;
  border-radius: 10px;

  @include media.respond-to('large') {
    width: 1200px;
  }

  @include media.respond-to('middle') {
    width: 95%;
    padding: 24px 16px;
  }

  @include media.respond-to('small') {
    width: 345px;
    padding: 22px 22px 32px;
  }
}

.subscribeForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: flex-start;

  @include media.respond-to('middle') {
    width: 740px;
  }
  @include media.respond-to('middle') {
    width: 100%;
  }
}

.label {
  color: color.$body-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  max-width: 740px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  margin: 0 0 10px;

  @include media.respond-to('small') {
    font-size: 16px;
  }
}

.caption {
  display: none;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.25px;
  max-width: 90%;

  @include media.respond-to('middle') {
    display: block;
  }
}

.subscriptionImage {
  position: absolute;
  right: 100px;
  bottom: 0;
  width: 264px;
  height: 181px;

  @include media.respond-to('large') {
    display: none;
  }
}
