@use '@/shared/styles/utils/variables' as var;

.category-page {
  width: 100%;
  margin-left: 15px;
}

.category-page__title {
  margin-top: 24px;
  margin-bottom: 10px;
}

.category-page__nav {
  color: #bdc2d3;
  display: flex;
  margin-bottom: 30px;
}

.category-page__subtiitle {
  margin-bottom: 30px;
}
