@use '../../shared/styles/utils/variables' as var;

.category-page {
  margin-left: 15px;
}

.category-page__title{
  margin-top: 24px;
  margin-bottom: 10px;
}

.category-page__nav{
  color: #BDC2D3;
  display: flex;
  margin-bottom: 30px;
}

.category-page__subtiitle{
  margin-bottom: 30px;
}