@use '../../../styles/utils/variables' as var;

.div {
  display: block;
  padding: 20px 0 0 20px;
  width: 100%;
  min-width: 420px;
  height: 300px;
  border-radius: 10px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  .subheading {
    color: var.$white;
    font-size: 18px;
    font-weight: 700;
    transition: none;
  }
}
