@use '@/shared/styles/utils/variables' as var;

.contacts {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.contactsMenu {
  visibility: visible;
  opacity: 1;
  margin: 0 0 17px;
  width: 500px;
  position: absolute;
  bottom: 100%;
  right: 0;
  transition: opacity 0.25s, visibility 0.25s, transform 0.25s;
}

.contactsMenuHidden {
  visibility: hidden;
  opacity: 0;
}

.contactList {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.button {
  transition: transform 0.25s, background-color 0.25s;
}

.button:hover {
  background-color: var.$theme-secondary-color;
}

.button:active {
  transition: none;
  transform: scale(.95);
}

.buttonMessageIcon {
  width: 60px;
  height: 60px;
}

.buttonCloseIcon {
  width: 15px;
  height: 15px;
}
