
.topToBtm {
  position: relative;
}

.iconPosition {
  position: fixed;
  bottom: 40px;
  left: 25px;
  z-index: 20;
  background-color: black;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.iconPosition:hover {
  animation: none;
  border: 2px solid #551b54;
}
