.top__tobtm {
  position: relative;
}

.icon__position {
  position: fixed;
  bottom: 40px;
  left: 25px;
  z-index: 20;
  background-color: black;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.icon__position:hover {
  animation: none;
  border: 2px solid #551b54;
}

.button {
  width: 100%;
}
