@use '../../assets/styles/utils/mixins' as media;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}



.cards {
    width: 1470px;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-evenly;

    @include media.respond-to('middle') {
        flex-direction: column;
    }
}