@use '../../../assets/styles/utils/variables' as var;

.input {
  background-color: inherit;
  border: none;
  box-sizing: border-box;
  font-weight: 400;
  outline: none;
  width: 100%;
  color: var.$white;
  caret-color: var.$white;

  &::placeholder {
    /* WebKit browsers */
    font-weight: 400;
    line-height: normal;
  }

  &.inputSearchHeader {
    font-size: 15px;
    line-height: 12.5px;
    margin-left: 20px;

    &::placeholder {
      color: var.$header-color;
      font-size: 15px;
    }
  }

  &.inputSubscribe {
    font-size: 18px;
    line-height: 15px;
    margin-left: 31px;
    color: var.$black;
    caret-color: var.$black;

    &::placeholder {
      color: var.$footer-form-color;
      font-size: 16px;
    }
  }

  &.inputSubscribeFooter {
    font-size: 18px;
    line-height: 15px;
    margin-left: 31px;
    caret-color: var.$white;
    color: var.$white;

    &::placeholder {
      color: var.$footer-form-color;
      font-size: 16px;
    }
  }

}
