@use '../../../assets/styles/utils/variables' as var;

// @TODO: Добавить опции отображения при пересборке форм
// https://github.com/Studio-Yandex-Practicum/maxboom_frontend/issues/91
// https://github.com/Studio-Yandex-Practicum/maxboom_frontend/issues/92
.label {
  display: none;
}

.input {
  width: 100%;

  // theme
  &.accent {
    color: var.$white;
    caret-color: var.$white;

    &::placeholder {
      color: var.$header-color;
    }
  }

  &.light {
    color: var.$black;
    caret-color: var.$black;

    &::placeholder {
      color: var.$black;
    }
  }

  &.dark {
    color: var.$white;
    caret-color: var.$white;

    &::placeholder {
      color: var.$footer-form-color;
    }
  }

  // customSize
  &.small {
    font-size: 15px;
    line-height: 12.5px;
    margin-left: 20px;

    &::placeholder {
      font-size: 15px;
    }
  }

  &.medium {
    font-size: 18px;
    line-height: 15px;
    margin-left: 31px;

    &::placeholder {
      font-size: 16px;
    }
  }
}
