@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;
@use '@/shared/styles/utils/z-index' as z-index;

.cartEdit {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  grid-template-areas: 'productEntity count sumWrapper';
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 140px;
  background: var.$white;
  border-radius: 10px;
  padding: 20px;

  @include media.respond-to('middle') {
    grid-template-columns: 40% 1fr;
    grid-template-areas:
      'productEntity productEntity'
      'count sumWrapper';
    gap: 5px;
  }
}

.input {
  width: 100%;
  max-width: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

.counter {
  grid-area: count;
  display: flex;
  justify-self: center;
  height: 50px;
  border: 1px solid var.$light-grey;
  border-radius: 4px;
  padding: 4px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 100%;
  padding: 0;
  transition: 0.25s;
}

.button_decrease:hover {
  background: var.$light-grey;
  border-radius: 4px 0 0 4px;
}

.button_increase:hover {
  background: var.$light-grey;
  border-radius: 0 4px 4px 0;
}

.sumWrapper {
  grid-area: sumWrapper;
  display: flex;
  flex-direction: column;
}

.sum {
  font-size: 18px;
}

.price {
  font-size: 13px;
  white-space: nowrap;
}

.buttonDots {
  position: absolute;
  z-index: 90;
  top: 0;
  right: 0;
}

.wrapper {
  position: absolute;
  top: 40px;
  right: -210px;
  background: var.$white;
  box-shadow: 0 0 20px rgba(170 189 206 /25%);
  border-radius: 5px;
  padding: 15px;
  width: 228px;
  transition:
    opacity 0.25s,
    visibility 0.25s;
  z-index: z-index.$three;

  @include media.respond-to('large') {
    top: 60px;
    right: 0;
  }
}

.item {
  &:first-child {
    border-bottom: 1px solid var.$body-color-light-grey;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.menu_button {
  font-size: 15px;
  line-height: 1;
  padding: 0;

  &:hover {
    color: var.$theme-primary-color;
  }
}

.arrowLeft {
  rotate: 90deg;
}

.arrowRight {
  rotate: 270deg;
}
