@use 'sass:map';

$breakpoints: (
  'xl': (
    min-width: 1400px
  ),
  'large': (
    max-width: 1200px
  ),
  'middle': (
    max-width: 769px
  ),
  'small': (
    max-width: 390px
  )
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media #{inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
