@use '../../../../shared/styles/utils/variables' as color;

.wrapper {
  width: 100%;
  margin: 0 auto;
  user-select: none;

  h2 {
    font-size: #{'min(max(18px, 1.6vw), 20px)'};
    line-height: 115%;
    font-weight: 500;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 25px;
  }

  .link {
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;

    &:hover {
      opacity: 0.7;
    }
  }

  .svg {
    width: 1.25rem;
    height: 0.5625rem;
    margin-left: 0.5rem;
    vertical-align: middle;
  }
}
