@use '../../../../shared/styles/utils/mixins' as media;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;

    @include media.respond-to('middle') {
        flex-direction: column;
    }
}