@use '@/shared/styles/utils/variables' as color;
@use '@/shared/styles/utils/mixins' as media;

.reviewCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 740px;
  min-height: 386px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 9px;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  background-color: color.$white;

  @include media.respond-to('middle') {
    min-height: auto;
  }
}
