@use '@/shared/styles/utils/variables' as color;
@use '@/shared/styles/utils/mixins' as media;

.reviewCardStore {
  display: flex;
  flex-direction: column;
  user-select: none;

  @include media.respond-to('middle') {
    width: 260px;
  }

  @include media.respond-to('small') {
    width: 220px;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 3px;
}

.paragraph {
  padding-top: 20px;
}

.link {
  font-size: 15px;
  margin-top: 25px;

  &:hover {
    opacity: 0.7;
  }
}
