@use '@/shared/styles/utils/mixins' as media;

.storybook {
  width: 1500px;
  height: 400px;
}

.bannerBlock {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 370px;

  @include media.respond-to('large') {
    min-height: 300px;
  }

  @include media.respond-to('middle') {
    min-height: 140px;
  }
}
