@use '../../shared/styles/utils/variables' as var;

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var.$theme-primary-color;
  padding: 5px 24px 10px;

  &__container {
    display: grid;
    grid-template-columns: clamp(0px, 13%, 300px) 1fr auto;
    grid-template-areas:
      '.. nav ..'
      'logo search account'
      'catalog tags tags';
    gap: 5px;
    width: 100%;
    max-width: 1422px;
  }

  &__containerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 75px;
  }

  &__nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: var.$white;
  }

  &__icon {
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin-right: 8px;

    &_phone {
      width: 12px;
      height: 12px;
      transform: rotate(90deg);
    }

    &_help {
      width: 12px;
      height: 15px;
    }
  }

  &__phoneWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__text {
    font-size: 13px;
    font-weight: 600;
    color: var.$header-color;
  }

  &__logo {
    grid-area: logo;
    width: 100%;
  }

  &__logoMobile {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
  }

  &__catalog {
    grid-area: catalog;
    max-width: 150px;
  }

  &__catalogLinkMain:hover {
    background: var.$white;
    color: var.$black;
  }

  &__catalogWrapper {
    display: flex;
    align-items: center;
  }

  &__svg {
    margin-right: 8px;
    transition: fill 0.25s;
    fill: var.$white;
  }

  &__catalogText {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: var.$white;
    transition: color 0.25s;
  }

  &__catalogLinkMain:hover &__svg {
    fill: var.$black;
  }

  &__catalogLinkMain:hover &__catalogText {
    color: var.$black;
  }

  &__tags {
    grid-area: tags;
    display: flex;
    column-gap: 10px;
  }

  &__catalogLinkSkeleton {
    display: flex;
    gap: 10px;
  }

  &__contextMenuLink {
    color: var.$body-color;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      color: var.$theme-secondary-color;
    }
  }

  &__contextMenuList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 320px;
    padding: 20px 40px 20px 20px;

    &_catalog {
      overflow-y: scroll;
    }
  }

  &__contextMenuItem {
    font-size: 13px;
    font-weight: 400;
  }


}
