@use '@/shared/styles/utils/variables' as color;
@use '@/shared/styles/utils/mixins' as media;

.reviewCardFeedback {
  display: flex;
  flex-direction: column;
  user-select: none;

  @include media.respond-to('middle') {
    width: 260px;
  }

  @include media.respond-to('small') {
    width: 220px;
  }

  &__header {
    display: flex;
    gap: 11px;
    padding-bottom: 20px;
  }

  &__initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: color.$bg-gradient-green;
    color: color.$white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media.respond-to('large') {
      width: 24px;
      height: 24px;
      font-size: 11px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__subheading {
    display: flex;
    gap: 3px;
    font-size: 12px;
    color: color.$body-color;
  }

  &__review {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: hidden;
    line-height: 22px;
    margin-bottom: 15px;

    @include media.respond-to('middle') {
      -webkit-line-clamp: 7;
    }
  }

  &__link {
    font-size: 15px;
    margin-top: 25px;

    &:hover {
      opacity: 0.7;
    }
  }
}
