@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.extra {
  background-color: orange;
  min-width: 200px;
}

.additional {
  width: 1000px;
  height: 100px;
}

.scroll {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  overflow: auto hidden;
  cursor: grab;

  @include media.respond-to('middle') {
    gap: 15px;
  }

  &::-webkit-scrollbar {
    height: 3px;
    background: var.$border-color;
  }

  &::-webkit-scrollbar-thumb {
    background: var.$body-color-light-grey;
  }
}
