@use '@/shared/styles/utils/variables' as var;

.form {
  grid-area: search;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 46px;
  background-color: var.$theme-secondary-color;
  border-radius: 5px;
}

.button {
  width: 90px;
  height: 38px;
  margin-right: 5px;
}

.button:hover {
  background-color: var.$white;
  color: var.$black;
}
