@use '@/shared/styles/utils/variables' as var;

.searchProduct {
  grid-area: search;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 46px;
  background: var.$theme-secondary-color;
  border-radius: 5px;

  &_modal {
    max-width: 1920px;
    background: var.$bg-subscribe;
  }

  &__button {
    width: 90px;
    height: 38px;
    margin-right: 5px;
    transition: 0.25s;

    &:hover {
      background-color: var.$white;
      color: var.$black;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__iconResetMobile {
    fill: var.$body-color-light-grey;
    width: 12px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      fill: var.$body-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__iconReset {
    fill: var.$link-border;
    width: 14px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      fill: var.$white;
    }
  }

  &__iconSearch {
    fill: var.$body-color-light-grey;
    margin-top: 3px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      fill: var.$body-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
