@use '../../shared/styles/utils/variables' as color;
@use '../../shared/styles/utils/mixins' as media;

.brand {
  width: 240px;
  height: 220px;
  padding: 0 10px;


  &:hover {
    cursor: pointer;
  }

  @include media.respond-to('large') {
    min-width: 230px;
    width: 100%;
    height: 230px;
  }

  @include media.respond-to('small') {
    min-width: 148px;
    width: 100%;
    height: 148px;
  }

}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid color.$border-color;
  transition: border-color 0.25s;

  &:hover {
    border-color: color.$theme-primary-color;
  }
}

.img {
  display: block;

  @include media.respond-to('small') {
    width: 120px;
    height: 120px;
  }
}
