@use '@/shared/styles/utils/mixins' as media;
@use '@/shared/styles/utils/variables' as color;

.slider {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  
    &__list {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      left: 0;
      background-color: red;
      transition: transform 0.5s ease-in-out;
    }    
  }

.arrow__wrap_prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 8.5%;
    height: 100%;
    z-index: 1; 
  }
  
  .arrow__wrap_next {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.5%;
    height: 100%;
    z-index: 1; 
  }

  .slider__pagination {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  
    .dots {
      display: flex;
      justify-content: center;
      cursor: pointer;
  
      &__item {
        list-style: none;
        position: relative;
        flex: 0 0 5.3%;
        height: 1px;
        margin: 1%;
        background-color: color.$bg-no-image;
        opacity: 0.3;
        transition: 0.5s ease-in-out;
  
        @include media.respond-to('middle') {
          flex: 0 0 5%;
        }
      }
  
      &__item::before {
        content: '';
        display: block;
        position: absolute;
        inset: -15px 0;
      }
  
      &__item_active {
        background-color: color.$white;
        opacity: 1;
      }
    }
  }
  
  .storybook {
    width: 940px;
    height: 370px;
  }
  
  .arrow__button {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background 0.25s;
    z-index: 100;

    &:hover{
      background: rgba(255 255 255 / 5%);
    }
  
    @include media.respond-to('middle') {
      display: none;
    }

    .icon {
      path {
          fill: color.$white;
      }
    }
  }

  
