@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.blogMain {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 20px;
    row-gap: 30px;

    @include media.respond-to('middle') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media.respond-to('small-middle') {
      grid-template-columns: 1fr;
    }
  }
}
