@use '../../../shared/styles/utils/mixins' as media;
@use '../../../shared/styles/utils/variables' as color;

.storybook{
  display: flex;
  background-color: peru;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.arrow__button {
  position:absolute;
  width: 100%;
  height: 100%;
  transition: background 0.25s;
  z-index: 100;

  @include media.respond-to('middle') {
    display: none;
  }
}

.arrow__button:hover {
  background: rgba(255 255 255 / 5%);
}


.icon {
    path {
        fill: color.$white;
    }
}

