@use '../../assets/styles/utils/variables' as var;
@use '../../assets/styles/utils/mixins' as media;

.container {
  width: max-content;
  margin: 0 auto;
}

.article {
  display: flex;
  column-gap: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @include media.respond-to('middle') {
    flex-flow: column wrap;
    column-gap: 0;
    row-gap: 30px;
  }
}

.image {
  width: 340px;
  height: 200px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  color: var.$body-color;
  max-width: 760px;

  @include media.respond-to('middle') {
    flex-wrap: wrap;
    max-width: 400px;
  }
}

.title {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.25px;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 11px;
  text-decoration: none;
  color: var.$link-color;
  margin-top: 40px;
}

.link:hover {
  opacity: 0.7;
}
