@use '../../shared/styles/utils/variables' as var;

.help {
  &__path {
    text-align: left;
    margin: 0 0 30px;
    padding: 0;
  }

  &__cats {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    padding: 40px 30px 65px;
    align-items: flex-start;
    border-radius: 10px;
    background: var.$white;
    max-height: 300px;
  }
}
