@use '../../assets/styles/utils/variables' as var;
@use '../../assets/styles/utils/mixins' as media;

.container {
    display: flex;
    column-gap: 20px;
    margin-bottom: 160px;

    @include media.respond-to('large') {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.heading {
    margin-top: 20px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-self: start;
    padding-left: 30px;
    row-gap: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.link {
    text-decoration: none;
    color: var.$subtitle-color;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 16.2px;

    &:hover {
        color: var.$theme-primary-color;
    }
}