@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.titleBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.heading {
  padding-top: 20px;
}

.container {
  display: flex;
  column-gap: 20px;
  margin-top: -18px;
  margin-bottom: 160px;
  width: 100%;

  @include media.respond-to('large') {
    flex-direction: column;
    row-gap: 20px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-self: start;
  row-gap: 10px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.link {
  text-decoration: none;
  color: var.$subtitle-color;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 16.2px;

  &:hover {
    color: var.$theme-primary-color;
  }
}
