@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;
@use '@/shared/styles/utils/z-index' as index;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: index.$five;

  &_footer {
    max-width: 570px;
    gap: 10px;

    @include media.respond-to('large') {
      max-width: 100%;
      margin-bottom: 70px;
    }
  }

  &_subscribe {
    max-width: 740px;
    gap: 18px;

    @include media.respond-to('large') {
      max-width: 500px;
    }

    @include media.respond-to('middle') {
      max-width: 100%;
    }
  }
}

.form {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 3px 14px;
  border-radius: 5px;
  position: relative;
  border: 2px solid transparent;
  transition: border-color 0.4s;

  &:focus-within {
    border-color: var.$theme-primary-color;
  }

  &_footer {
    background-color: var.$footer-form-bg;
  }

  &_subscribe {
    background-color: var.$white;
  }
}

.field {
  width: 100%;
  padding: 10px 16px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  @include media.respond-to('middle') {
    padding-left: 6px;
    padding-right: 6px;
  }

  &_footer {
    color: var.$white;
  }

  &_subscribe {
    color: var.$black;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.span {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  &_footer {
    color: var.$white;
  }

  &_subscribe {
    color: var.$black;
  }
}

.button {
  padding: 14px 14px 14px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var.$theme-primary-color;
  border: none;
  color: var.$white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  transition:
    border-color 0.25s,
    color 0.25s,
    background 0.25s;

  @include media.respond-to('middle') {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-left: 26px;
    margin-bottom: 2px;

    @include media.respond-to('middle') {
      display: none;
    }
  }

  &:hover {
    background-color: var.$theme-secondary-color;
  }
}

.label {
  font-weight: 500;

  &_footer {
    color: var.$white;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    @include media.respond-to('xl') {
      font-size: 14.5px;
      line-height: 1;
    }
  }

  &_subscribe {
    font-size: 18px;
  }
}

.caption {
  display: none;

  @include media.respond-to('large') {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
  }
}
