@use '../../shared/styles/utils/variables' as color;
@use '../../shared/styles/utils/mixins' as media;

.aveargemark {
  width: 100%;
  min-height: 430px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: color.$white;
  border-radius: 5px;

  @include media.respond-to('large') {
    min-height: 355px;
  }

  &__markcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  &__commonscore {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
  }

  &__commonscore svg {
    width: 25px;
    height: 25px;
  }

  &__header {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
  }

  &__scores {
    width: 100%;
  }

  &__commentcontainer {
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid color.$border-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
