.storybook {
  width: 1080px;
}

.storiesBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.storiesScroll {
  padding-top: 20px;
  overflow-y: auto;
  display: flex;
  gap: 16px;
}

.storiesBlock li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}