@use '@/shared/styles/utils/variables' as var;

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  background-color: var.$white;
  margin: 0 0 20px;
  padding: 25px 30px 20px;

  &__input {
    background-color: var.$body-bg;
    border: 2px solid var.$border-color;
    border-radius: 10px;
    margin: 0 0 5px;
    padding: 10px 16px;

    &_textArea {
      min-height: 180px;
    }
  }

  &__input:focus {
    border: 2px solid var.$theme-primary-color;
    transition: 0.7s;
  }

  &__label {
    position: relative;
    font-size: 14px;
    margin: 0 0 10px;

    &_date[data-no-star]::before {
      content: '';
    }
  }

  &__label::before {
    content: '*';
    color: var.$promo-color;
    padding: 0 3px 0 0;

    &_date[data-no-star]::before {
      content: '';
    }
  }

  &__checkbox {
    font-size: 14px;
    margin: 0 0 10px;
  }

  &__error {
    position: absolute;
    top: 62px;
    left: 20px;
    font-size: 12px;
    font-weight: 100;
    color: var.$promo-color;

    &_textarea {
      top: 203px;
    }
  }
}
