@use '../../shared/styles/utils/variables' as var;

.category-card {
  width: 100%;
  min-height: 183px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.category-card__img {
  width: 108px;
  height: 108px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}

.category-card__text {
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
