@use '../../shared/styles/utils/variables' as var;

.category-card {
  width: 222.44px;
  height: 182.53px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-card__img {
  width: 107.89px;
  height: 107.89px;
  margin-top: 16.599px;
  margin-left: auto;
  margin-right: auto;
}

.category-card__text {
  margin-bottom: 16.599px;
  margin-left: auto;
  margin-right: auto;
}
