@use '../../styles/utils/variables' as var;

.breadcrumbs {
  display: flex;
}

.link {
  color: var.$subtitle-color;
  transition: color 0.3s;

  &:hover {
    color: var.$theme-secondary-color;
  }
}
