@use '../../shared/styles/utils/variables' as var;

.li {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  color: var.$white;
  display: flex;
  align-items: center;
}

.link {
  color: var.$white;
  text-decoration: none;
}
