@use '../../shared/styles/utils/variables' as var;

.category-list {
  padding: 30px;
  max-width: 330px;
  height: fit-content;
  background-color: var.$white;
  border-radius: 10px;
  width: inherit;
}

.category-list__title {
  margin-bottom: 20px;
}

/* @TODO: Настроить фиксированную высоту
https://github.com/Studio-Yandex-Practicum/maxboom_frontend/issues/61 */
.category-list__items {
  max-height: calc(100% - 50px);
  overflow-y: auto;
}

.sk-category-list__item {
  display: flex;
  min-height: 45px;
  border-radius: 5px;
  margin-bottom: 5px;
}
