@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.category-list {
  padding: 30px;
  background-color: var.$white;
  border-radius: 10px;
  width: inherit;
}

.category-list__title {
  margin-bottom: 20px;
}

/* @TODO: Настроить фиксированную высоту
https://github.com/Studio-Yandex-Practicum/maxboom_frontend/issues/61 */
.category-list__items {
  max-height: calc(100% - 50px);
  overflow-y: auto;
  gap: 10px;
  display: grid;
}
