@use '../../../../shared/styles/utils/variables' as var;
@use '../../../../shared/styles/utils/mixins' as media;

.container {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background-color: var.$white;
  width: 460px;
  border-radius: 5px;

  @include media.respond-to('large') {
    width: 100%;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

.button_change {
  border: none;
  padding: 0;
  font-size: 14px;
  color: var.$link-color;

  &:hover {
    opacity: 0.8;
  }
}

.link {
  text-decoration: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var.$light-grey;
  border-radius: 5px;
  padding: 3px 3px 3px 20px;

  &:focus-within {
    border: 1px solid var.$black;
  }
}

.form > .input {
  margin-left: 0;

  &::placeholder {
    color: var.$body-color-light-grey;
  }
}

.button {
  height: 36px;
  padding: 5px 20px;
  background: var.$light-grey;
  color: var.$black;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    background-color: var.$theme-primary-color;
    color: var.$white;
  }
}
