@use '../../styles/utils/variables' as var;

.span {
  color: var.$promo-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;

  // theme
  &.error {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    color: var.$promo-color;
  }
}
