@use '../../assets/styles/utils/variables' as var;

.pageControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dropdowns {
  display: flex;
  gap: 12px;
}

.cardsControls {
  display: flex;
  gap: 10px;
}

.cardsControl {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$white;
  padding: 6px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
}

.cardsControl:hover,
.active,
.active path {
  border-bottom: 2px solid var.$theme-primary-color;
  stroke: var.$theme-primary-color;
}

.cardsControl:hover path {
  stroke: var.$theme-primary-color;
}
