@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.page-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include media.respond-to('middle') {
    flex-direction: column;
  }
}

.dropdowns {
  display: flex;
  gap: 12px;
}

.cards-controls {
  display: flex;
  gap: 10px;

  @include media.respond-to('large') {
    display: none
  }
}

.cards-control {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$white;
  padding: 6px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
}

.cards-control:hover,
.active,
.active path {
  border-bottom: 2px solid var.$theme-primary-color;
  stroke: var.$theme-primary-color;
}

.cards-control:hover path {
  stroke: var.$theme-primary-color;
}
