@use '../../../../shared/styles/utils/variables' as color;
@use '../../../../shared/styles/utils/mixins' as media;

.brands {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    h2 {
      font-size: 20px;
      line-height: 1.15;
      font-weight: 500;

      @include media.respond-to('small') {
        font-size: 18px;
      }
    }
  }
}

.link__text {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;

  &:hover {
    opacity: 0.7;
  }
}

.svg {
  width: 20px;
  height: 9px;
  margin-left: 8px;
  vertical-align: middle;
}

.brands__body {
  display: flex;
  justify-content: space-between;

  @include media.respond-to('large') {
    padding-bottom: 30px;
    overflow: auto hidden;
    cursor: grab;

    &::-webkit-scrollbar {
      height: 3px;
      background-color: rgba(0 0 0 / 10%);
    }

    &::-webkit-scrollbar-thumb {
      background: color.$theme-primary-color;
    }
  }
}
