@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.blogTags {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var.$body-bg;
    font-size: 14px;
    color: var.$body-color;
    padding: 0 12px;
    transition: 0.25s;

    &:hover {
      color: var.$header-color;
    }
  }
}
