@use '@/shared/styles/utils/variables' as var;
@use '@/shared/styles/utils/mixins' as media;

.productEntity {
  grid-area: productEntity;
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;

  @include media.respond-to('large') {
    max-width: 100%;
  }

  @include media.respond-to('middle') {
    align-items: flex-start;
    gap: 10px;
  }

  &__imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.image {
  width: 100px;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;

  @include media.respond-to('middle') {
    flex-direction: column;
    max-width: 100%;
  }
}

.name {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  color: var.$body-color;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.25s;

  &:hover {
    color: var.$theme-primary-color;
  }
}
