@use '../../shared/styles/utils/mixins' as media;

.wrapper {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media.respond-to('middle') {
    max-width: 768px;
    width: 100%;
  }

  @include media.respond-to('small') {
    width: 390px;
    gap: 20px;
  }
}
