@use '@/shared/styles/utils/variables' as var;

.customButtonsContainer {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.customButton {
  max-width: 120px;
  min-height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &_eye {
    min-width: 30px;
    justify-content: center;
  }

  svg {
    width: 25px;
    min-width: 25px;
    height: 25px;
  }

  &__iconCart {
    fill: var.$white;
    width: 25px;
    height: 20px;
  }
}
