@use '@/app/styles/index' as var;

.storybook {
  width: 1080px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;

  h2 {
    font-size: #{'min(max(18px, 1.6vw), 20px)'};
    line-height: 115%;
    font-weight: 500;
  }

  article {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
  }

  .link {
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;

    &:hover {
      opacity: 0.7;
    }
  }

  .svg {
    width: 1.25rem;
    height: 0.5625rem;
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  ul {
    display: flex;
    gap: 20px;
    padding: 0 10px 20px;
    overflow: auto hidden;
    cursor: grab;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var.$theme-primary-color;
      cursor: grab;
    }

    &::-webkit-scrollbar-track {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}