@use '@/shared/styles/utils/mixins' as media;

.storybook {
  width: 1080px;
}

.blogBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 20px;

  @include media.respond-to('large') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blogScroll {
  padding-top: 20px;
}
