@use '@/app/styles/index' as color;
@use '@/shared/styles/utils/mixins' as media;

.storybook {
  width: 700px;
  height: 200px;
}

.heroCard {
  position: relative;
  display: flex;
  flex: 1 0 100%;
  background: color.$theme-secondary-color;
  user-select: none;

  &__link {
    position: relative;
    display: flex;
    width: 100%;
    color: color.$white;
  }

  &__content {
    position: absolute;
    top: 100px;
    left: 12%;
    display: flex;
    flex-direction: column;

    @include media.respond-to('middle') {
      top: 32px;
      left: 0;
      right: 0;
      align-items: center;
    }
  }

  &__title {
    padding-top: 12px;
    padding-bottom: 20px;
    color: color.$white;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    background: color.$white;
    color: color.$body-color;
    font-size: 25px;
    padding: 10px 15px;

    @include media.respond-to('middle') {
      font-size: 20px;
      padding: 0 13px;
    }
  }
}
