@use '../../styles/utils/variables' as var;

.title {
  color: var.$body-color;
  font-weight: 700;
}

.big {
  font-size: 25px;
  line-height: 28.75px;
}

.medium {
  font-size: 24px;
  line-height: 28.8px;
}

.normal {
  font-size: 20px;
  line-height: 23px;
}

.small {
  font-size: 16px;
  line-height: 25.92px;
}
