@use '../../../assets/styles/utils/variables' as var;

.textarea {
  width: 100%;
  resize: none;

  // theme
  &.accent {
    color: var.$white;
    caret-color: var.$white;

    &::placeholder {
      color: var.$header-color;
    }
  }

  &.light {
    color: var.$black;
    caret-color: var.$black;

    &::placeholder {
      color: var.$black;
    }
  }

  &.dark {
    color: var.$white;
    caret-color: var.$white;

    &::placeholder {
      color: var.$footer-form-color;
    }
  }

  // customSize
  &.small {
    font-size: 15px;
    line-height: 12.5px;
    margin-left: 20px;

    &::placeholder {
      font-size: 15px;
    }
  }

  &.medium {
    font-size: 18px;
    line-height: 15px;
    margin-left: 31px;

    &::placeholder {
      font-size: 16px;
    }
  }
}
