@use '../../index' as var;

.blog {
  align-self: flex-start;

  &__title {
    text-align: left;
    margin: 24px 0 0;
    padding: 0;
  }

  &__path {
    text-align: left;
    margin: 0 0 30px;
    padding: 0;
  }

  &__filters {
    display: flex;
    max-width: 340px;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    max-width: 100%;
    gap: 10px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
  box-sizing: border-box;

  h2 {
    font-size: #{'min(max(18px, 1.6vw), 20px)'};
    line-height: 115%;
    font-weight: 500;
  }

  article {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    max-width: 100%;
  }

  .link {
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;
    color: var.$link-color;
  }

  ul {
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: grab;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var.$theme-primary-color;
      cursor: grab;
    }

    &::-webkit-scrollbar-track {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
